[Unit]
Description=Vector
Documentation={{ vector_documentation_link }}
Requires=network-online.target
After=network-online.target

[Service]
User={{ vector_user }}
Group={{ vector_group }}
ExecStartPre={{ vector_bin_path }} validate {{ params_exec_start_pre | default('') }}
ExecStart={{ vector_bin_path }} {{ params_exec_start | default('') }}
ExecReload={{ vector_bin_path }} validate {{ params_exec_start_pre | default('') }}
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=-{{ vector_env_path }}

StandardOutput={{ vector_log_output_stdout | default(vector_log_output) }}
StandardError={{ vector_log_output_stderr | default(vector_log_output) }}

{% if vector_syslog_identifier is defined %}
SyslogIdentifier={{ vector_syslog_identifier }}
{% endif %}

Restart=always
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
